*{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
/* nav header are */
header{
    background-color: #f7f5f4;
    background-image: url('../images/header_bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}
.nav-taille{
   
    font-weight: 800px;
    font-size: 45px;

}
nav ul{
    display: flex;
    align-items: center;
}
.text-primary{
     color:#FD6E0A;

}
nav li {
    list-style: none;
    margin-left: 40px;
}
.btn-stlye{
    height: 50px;
    width: 80px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 50 auto;
    
}
/* banner are */
.bannaer-area{
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.text-smal{
    font-size: 25px;
    font-weight: 300px;
}
.text-header{
    font-size: 50px;
    font-weight: 400px;
}
.text-pargrhap{
    color: black;
    width: 400px;
    margin-bottom: 10px;
}
/* ABOUT SECTION AREA */
.About-area{
    background-color: antiquewhite;
    margin: 50px 100px;
    height: 350px;
}
.heading-text{
    text-align: center;
    color: black;
    
    font-size: 80px;
    font-weight: 500;
}
.parghap-text{
    text-align: center;
    margin: 10px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* about info area side */
.about-info{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 20px 50px;
}
/* what  i do area */
.what-area{
    margin: 50px 100px;

}
.heading-w{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-style: oblique;
}
.what-do-parghrap{
    text-align: center;
    margin: 20px 90px;
    font-weight: 300;
    font-size: 18px;
}
.icon-area{
    display: flex;
  
    
    
}
.item-one{
   margin:30px 10px;
   padding: 30px;
   box-shadow: 0px 5px 3px rgb(149, 146, 146);

}
